target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### DAML ###
.interfaces/
.package-database/
.mvn/
*.log

### Fat Scripts ###
token-init/serveridentity
token-init/entry_credit_address.sh
token-init/*.log
token-init/logs/
token-init/fat.db
token-init/fat.db/*
token-init/README.md
logs/
fat.db/

### Token JSONs ###
src/main/resources/tokens/*

